
  /* -----------footer------------ */
.footer {
    margin-top: 50px;
  }
  
  .footer .footer-top .container {
    display: flex;
    /* padding-bottom: 20px; */
    margin: 0 !important;
  }
  .footer-top a {
    text-decoration: none;
    color: #1c1c1c;
  }
  .footer-top li {
    list-style: none;
    color: #1c1c1c;
    margin-bottom: 7px;
    font-size: 13px;
    letter-spacing: 1px;
    word-break: break-word;
  }
  .footer-top .container-fluid {
    width: 85%;
  }
  .footer-top h3 {
    font-size: 12px;
    letter-spacing: 1.4px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 15 px;
  }
 
  .footer-top-1 img {
    margin-bottom: 15px;
    align-self: center;
    max-height: 60px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .list-menu {
    margin-bottom: 15px;
    line-height: 1.71429em;
    list-style: none;
    padding-left: 0;
  }
  .list-menu li {
    color: #1c1c1c;
    margin-bottom: 7px;
    font-size: 13px;
    letter-spacing: 1px;
    word-break: break-word;
  }
  
  
  .footer-top-4-1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer-top-4 p {
    letter-spacing: 0.5px;
    font-size: 12px;
  }
  .footer-top-4 form {
    margin-bottom: 15px;
  }
  .footer-top-4-1 input {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    width: 100%;
    outline: none;
    padding: 0 10px;
    background: #f0f0f0;
    border: 1px solid transparent;
    margin-bottom: 8px;
  }
  .footer-top-4 button {
    width: 100%;
    padding-bottom: 0;
    padding-top: 0;
    padding: 14px 28px;
    border: 1px solid #1c1c1c;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 400;
    background-color: #1c1c1c;
    color: #fff;
  }
  .payment {
    text-align: center;
    display: flex;
    /* flex-wrap: wrap; */

  }
  .payment li {
    margin-right: 10px;
  }
  .footer-bottom {
    padding: 8px;
    border-top: 1px solid #ebebeb;
    font-size: 12px;
    color: #1c1c1c;
    font-weight: 500;
  }
  .text-center {
    text-align: center;
    padding: 8px;
  }
  .text-center a {
    text-decoration: none;
    color: #1c1c1c;
  }
  .back-top {
    position: fixed;
    right: 10px;
    bottom: 60px;
    /* z-index: 999; */
    font-size: 12px;
    /* height: 35px; */
    top: auto;
    opacity: 0.7;
  }
  .back-top a {
    text-decoration: none;
    color: #1c1c1c;
  }