@import url(base.css);
@import url(basehead.css);
.container-tutorial{
    width: 80%;
    margin: 0 auto;
}
.container-tutorial p:first-child{
    margin-bottom: 60px;
}
.container-tutorial p:not(:first-child){
    margin-bottom: 30px;
}