*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.7;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    letter-spacing: 0.25px;
}
a{
    text-decoration: none;
    color: white;
}
p{
    font-size: 14px;
}
ul,li{
  list-style: none;
}
/* HEADER */

.container-header{
  width: 80%;
  margin: 0 auto;
}
.top-header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
  height: 90px;
  align-items: center;
}
.logo img{
 height: 70px;
}
.connect-header{
  display: flex;
  gap: 1.5rem;
}
#menu{
  padding: 0.5rem 0;
}
#menu li a{
  text-decoration: none;
  color: #1c1c1c;
  font-weight: 540;
  letter-spacing: 2px;
  font-size: 14px;

}
.nav{
  display: flex;
  justify-content: space-around;

}
.nav li a{
  display: block;
  position: relative;
}
.submenu{
  position: absolute;
  background-color: white;
  padding: 5px 0;
  width: 250px;
  top: 170%;
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transform: translateX(-30%);
  transition: all 0.5s ease-in-out;
}
.submenu a{
  padding: 15px 8px;
  border-bottom: 1px solid #f5f5f5;
}
.submenu li:last-child a{
  border: none;
  
}

.nav li:hover .submenu{
  visibility: visible;
  opacity: 1;
  top: 100%;
  

}
.nav{
  position: relative;
}
.box h3{
  font-size: 16px;
  font-weight: 550;
}
.submenu-1 a{
  padding: 10px 8px;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub{
  position: absolute;
  display: flex;
  width: 100%;
  top: 170%;
  left: 0;
  justify-content: space-between;
  background-color: white;
  padding-right: 20px;
  padding-bottom: 15px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  
}

.nav li:hover .sub{
  opacity: 1;
  visibility: visible;
  top: 100%;
}





  /* CONTAINER */
.section-1 img{
    width: 100%;
    max-height:700px;
    object-fit: cover;
}
.container{
    width: 80%;
    margin: 0 auto;
    
}
.section-2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 40px 0;
    color: #333;
    font-size: 14px;
}
.link a{
  text-decoration: none;
  color: #333;
}
.link{

  display: flex;
  gap: 5px;
}
.list_item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item-img img{
    width: 100%;
    
}
.item-text{
    line-height: 20px;
}
.branch{
    color: black;
    font-weight: 530;
}

.item-1{
    position: relative;
}
.item-img{
    margin-bottom: 25px;
    position: relative;
}
.transition-image{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.item:hover .transition-image{
    opacity: 1;
}
.discount p{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem 0.75rem;
    background-color: #916841;
    font-size: 12px;
    color: white;
}
.item{
    position: relative;
}
.add {
    padding: 0.5rem;
    color: #1c1c1c;
}
.add{
    border: 1px solid #333;
    height: 45px;
    width: 100%;
    position: absolute;
    bottom: -45px;
    left: 0;
    opacity: 0;
    background-color: white;
    color: #1c1c1c;
    transition: 0.3s ease-in-out;
}
.item:hover .item-text{
  display: none;
}
.item:hover .add{
    opacity: 1;
    color:#333;
    bottom: 0;
    
}
.add:hover{
  background-color: #333;
  color: white;
}
.add:hover p{
  color: white;
}
.list_item-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.item-2{
    position: relative;
    overflow: hidden;
}
.item-2 img{
    /* transform: scale(1.25); */
    transition: 0.5s ease-in-out;
    width: 100%;
    display: block;
}
.item-2:hover img{
    transform: scale(1.25);
}
.item_2-img img{
    width: 100%;
}
.title{
    font-size: 25px;
    
}
.connect-2 {
    width: 140px;
    height: 45px ;
    background: transparent;
    border:1px solid rgba(170, 169, 169, 0.5);
    box-shadow: inset -140px 0 0 0 white;
    transition: ease-out 0.5s;
    outline: none;
    cursor: pointer;
    

}
.connect-2:hover{
    background: transparent;
    box-shadow: inset 0 0 0 0 white;
    color: white;
    
}
.title-1{
    font-size: 25px;
    color: white;
}

.item_2-text{
    position: absolute;
    bottom: 50px;
    left: 30px;
}
.section-2_3{
    margin-top: 40px;
}
.section-2_4{
    margin-top: 80px;
    
}
.section-4{
    background: url(https://bizweb.dktcdn.net/100/355/487/themes/720328/assets/ant_product_bg.jpg?1629466801879) no-repeat center bottom;
    background-size: cover;
    padding-bottom: 25px;
   
}
.content{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0 0;
}
.list_item-3{
    display: flex;
    align-items: center;
    gap: 75px;

}
.item-3 img{
    width: 100%;
}


.pic2{
    width: 35%;
}
.container_section-5{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    
}
.list_item-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.item-4{
    overflow: hidden;
    transition: 0.5s ease-in-out;
    /* transform: scale(1); */
}
.item_4-img{
    width: 100%;
    overflow: hidden;

}
.container_section-5 > p{
    font-size: 25px;
    text-align: center;
    
    
}
.item-4 a{
    text-decoration: none;
}
.item-4 h3{
  margin-top: 10px;
    font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.item_4-img img{
   
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    display: block;
     
}

.item-4:hover img{
    transform: scale(1.2);
}
.connect{
   
    width: 250px;
    height: 50px;
    background: #333;
    color: white;
    border: 1px solid #333;
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.5s;
    outline: none;
    cursor: pointer;
    
    


}
.connect:hover{
    box-shadow: inset 250px 0 0 0 white;
    color:#333;
}

.connect-5{
    width: 150px;

}
.item-4 h3:hover{
    color: #916841;
}


/* -----------footer------------ */
.footer {
    margin-top: 50px;
  }
  
  .footer .footer-top .container {
    display: flex;
    /* padding-bottom: 20px; */
    margin: 0 !important;
  }
  .footer-top a {
    text-decoration: none;
    color: #1c1c1c;
  }
  .footer-top li {
    list-style: none;
    color: #1c1c1c;
    margin-bottom: 7px;
    font-size: 13px;
    letter-spacing: 1px;
    word-break: break-word;
  }
  .footer-top .container-fluid {
    width: 85%;
  }
  .footer-top h3 {
    font-size: 12px;
    letter-spacing: 1.4px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 15 px;
  }
 
  .footer-top-1 img {
    margin-bottom: 15px;
    align-self: center;
    max-height: 60px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .list-menu {
    margin-bottom: 15px;
    line-height: 1.71429em;
    list-style: none;
    padding-left: 0;
  }
  .list-menu li {
    color: #1c1c1c;
    margin-bottom: 7px;
    font-size: 13px;
    letter-spacing: 1px;
    word-break: break-word;
  }
  
  
  .footer-top-4-1 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer-top-4 p {
    letter-spacing: 0.5px;
    font-size: 12px;
  }
  .footer-top-4 form {
    margin-bottom: 15px;
  }
  .footer-top-4-1 input {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    width: 100%;
    outline: none;
    padding: 0 10px;
    background: #f0f0f0;
    border: 1px solid transparent;
    margin-bottom: 8px;
  }
  .footer-top-4 button {
    width: 100%;
    padding-bottom: 0;
    padding-top: 0;
    padding: 14px 28px;
    border: 1px solid #1c1c1c;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 400;
    background-color: #1c1c1c;
    color: #fff;
  }
  .payment {
    text-align: center;
    display: flex;
    /* flex-wrap: wrap; */

  }
  .payment li {
    margin-right: 10px;
  }
  .footer-bottom {
    padding: 8px;
    border-top: 1px solid #ebebeb;
    font-size: 12px;
    color: #1c1c1c;
    font-weight: 500;
  }
  .text-center {
    text-align: center;
    padding: 8px;
  }
  .text-center a {
    text-decoration: none;
    color: #1c1c1c;
  }
  .back-top {
    position: fixed;
    right: 10px;
    bottom: 60px;
    /* z-index: 999; */
    font-size: 12px;
    /* height: 35px; */
    top: auto;
    opacity: 0.7;
  }
  .back-top a {
    text-decoration: none;
    color: #1c1c1c;
  }